@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
html {
  color: #0d0d0d;
  background: #fefefe;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  justify-content: space-between !important;
}

header {
  max-width: 100% !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
